In [2]:
#import packages
import pandas as pd
import numpy as np

In [4]:
#read in xlsx, convert all nulls to NaN

csv = pd.read_excel('../data/headway_data.xlsx', keep_default_na=True, na_filter=True)
csv

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,6.500000
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,9,0.000000
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,19,0.000000
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,35,0.000000
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,36,12.866666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350323,120230930,2,100406610,2023-09-30,7,702,2312,353448,0,TO DOWNTOWN,...,35.266666,5.266666,0,1,0,0,0.0,0,539,0.000000
350324,120230930,2,100406611,2023-09-30,7,702,2312,353448,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,551,0.000000
350325,120230930,2,100406612,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,...,31.866666,1.866666,0,0,1,0,0.0,0,552,0.000000
350326,120230930,2,100406613,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,...,47.500000,17.500000,0,1,0,0,0.0,0,563,0.000000
350327,120230930,2,100406614,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,577,3.216666

In [5]:
#convert to csv

csv.to_csv('../data/headway_data.csv', index=False)

In [6]:
csv.shape

(350328, 30)

In [ ]:
#Questions for WeGo guy
# is there a map that corresponds to route and block abbreviations so we can see where these actually are?
# how are the adjusted counts being adjusted?
# how to interpret headway? what are the units
# does NaN for headway indicate it being on time? noticed a line of where headway & headway dev were not zero, 
    # but adjusted late count was 1.
# what does each row represent? a route? a leg of a route?
# what do these variables indicate: service_abbr, overload_id, is_relief, block_stop_order, dwell_in_mins? 
# does adherence_id mean anything, or it's another id code?