In [1]:
#import packages
import pandas as pd
pd.set_option("display.max_columns", 100)
import numpy as np
import seaborn as sns

In [2]:
#read in csv & display
wego = pd.read_csv('../data/headway_data.csv')
wego

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,MHSP,14.0,1,36.181248,-86.847705,04:42:00,04:37:38,04:44:08,-2.133333,NaN,NaN,NaN,0,0,1,0,0.0,0,2,6.500000
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,ELIZ,10.0,0,36.193454,-86.839981,04:46:00,04:48:27,04:48:27,-2.450000,NaN,NaN,NaN,0,0,1,0,0.0,0,9,0.000000
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,CV23,5.0,0,36.182177,-86.814445,04:54:00,04:54:56,04:54:56,-0.933333,NaN,NaN,NaN,0,0,1,0,0.0,0,19,0.000000
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,MCC5_10,1.0,2,36.167091,-86.781923,05:10:00,05:03:43,05:03:43,6.283333,NaN,NaN,NaN,0,0,1,0,NaN,0,35,0.000000
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,MCC5_10,1.0,1,36.167091,-86.781923,05:15:00,05:03:43,05:16:35,-1.583333,NaN,NaN,NaN,0,0,1,0,0.0,0,36,12.866666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350323,120230930,2,100406610,2023-09-30,7,702,2312,353448,0,TO DOWNTOWN,21BK,4.0,0,36.138372,-86.800622,22:23:00,22:31:26,22:31:26,-8.433333,30.0,35.266666,5.266666,0,1,0,0,0.0,0,539,0.000000
350324,120230930,2,100406611,2023-09-30,7,702,2312,353448,0,TO DOWNTOWN,MCC5_9,3.0,2,36.167091,-86.781923,22:38:00,22:49:18,22:49:18,-11.300000,NaN,NaN,NaN,0,1,0,0,NaN,0,551,0.000000
350325,120230930,2,100406612,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,MCC5_9,3.0,1,36.167091,-86.781923,22:45:00,22:49:19,22:49:19,-4.316666,30.0,31.866666,1.866666,0,0,1,0,0.0,0,552,0.000000
350326,120230930,2,100406613,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,21BK,4.0,0,36.138881,-86.800622,22:59:00,23:21:05,23:21:05,-22.083333,30.0,47.500000,17.500000,0,1,0,0,0.0,0,563,0.000000
350327,120230930,2,100406614,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,HBHS,5.0,2,36.107575,-86.812719,23:11:00,23:31:27,23:34:40,-23.666666,NaN,NaN,NaN,0,1,0,0,NaN,0,577,3.216666

In [3]:
#how many times does the messed up time appear? a lot

wego['SCHEDULED_TIME'].value_counts()['1900-01-01 00:08:00']

218

In [4]:
#replace broken times with NaN
wego['SCHEDULED_TIME'] = wego['SCHEDULED_TIME'].str.replace('1900-01-01 ','')
wego['ACTUAL_ARRIVAL_TIME'] = wego['ACTUAL_ARRIVAL_TIME'].str.replace('1900-01-01 ','')
wego['ACTUAL_DEPARTURE_TIME'] = wego['ACTUAL_DEPARTURE_TIME'].str.replace('1900-01-01 ','')

In [5]:
# concatenate dates onto each time column to prevent '1900' issue

wego['SCHEDULED_TIME'] = wego['DATE'] + ' ' + wego['SCHEDULED_TIME']
wego['SCHEDULED_TIME']

0         2023-08-01 04:42:00
1         2023-08-01 04:46:00
2         2023-08-01 04:54:00
3         2023-08-01 05:10:00
4         2023-08-01 05:15:00
                 ...
350323    2023-09-30 22:23:00
350324    2023-09-30 22:38:00
350325    2023-09-30 22:45:00
350326    2023-09-30 22:59:00
350327    2023-09-30 23:11:00
Name: SCHEDULED_TIME, Length: 350328, dtype: object

In [6]:
wego['ACTUAL_ARRIVAL_TIME'] = wego['DATE'] + ' ' + wego['ACTUAL_ARRIVAL_TIME']
wego['ACTUAL_ARRIVAL_TIME']

0         2023-08-01 04:37:38
1         2023-08-01 04:48:27
2         2023-08-01 04:54:56
3         2023-08-01 05:03:43
4         2023-08-01 05:03:43
                 ...
350323    2023-09-30 22:31:26
350324    2023-09-30 22:49:18
350325    2023-09-30 22:49:19
350326    2023-09-30 23:21:05
350327    2023-09-30 23:31:27
Name: ACTUAL_ARRIVAL_TIME, Length: 350328, dtype: object

In [7]:
wego['ACTUAL_DEPARTURE_TIME'] = wego['DATE'] + ' ' + wego['ACTUAL_DEPARTURE_TIME']
wego['ACTUAL_DEPARTURE_TIME']

0         2023-08-01 04:44:08
1         2023-08-01 04:48:27
2         2023-08-01 04:54:56
3         2023-08-01 05:03:43
4         2023-08-01 05:16:35
                 ...
350323    2023-09-30 22:31:26
350324    2023-09-30 22:49:18
350325    2023-09-30 22:49:19
350326    2023-09-30 23:21:05
350327    2023-09-30 23:34:40
Name: ACTUAL_DEPARTURE_TIME, Length: 350328, dtype: object

In [8]:
#convert dates to datetime64 objects, check dtype to confirm

wego['DATE'] = pd.to_datetime(wego['DATE'], format = "%Y-%m-%d")
wego['DATE'].info

<bound method Series.info of 0        2023-08-01
1        2023-08-01
2        2023-08-01
3        2023-08-01
4        2023-08-01
            ...
350323   2023-09-30
350324   2023-09-30
350325   2023-09-30
350326   2023-09-30
350327   2023-09-30
Name: DATE, Length: 350328, dtype: datetime64[ns]>

In [9]:
# convert times to datetime64 objects, check dtype to confirm
wego['SCHEDULED_TIME'] = pd.to_datetime(wego['SCHEDULED_TIME'], format = '%Y-%m-%d %H:%M:%S')
wego['ACTUAL_ARRIVAL_TIME'] = pd.to_datetime(wego['ACTUAL_ARRIVAL_TIME'], format = '%Y-%m-%d %H:%M:%S')
wego['ACTUAL_DEPARTURE_TIME'] = pd.to_datetime(wego['ACTUAL_DEPARTURE_TIME'], format = '%Y-%m-%d %H:%M:%S')
wego[['SCHEDULED_TIME', 'ACTUAL_ARRIVAL_TIME', 'ACTUAL_DEPARTURE_TIME']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350328 entries, 0 to 350327
Data columns (total 3 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   SCHEDULED_TIME         350328 non-null  datetime64[ns]
 1   ACTUAL_ARRIVAL_TIME    338869 non-null  datetime64[ns]
 2   ACTUAL_DEPARTURE_TIME  338860 non-null  datetime64[ns]
dtypes: datetime64[ns](3)
memory usage: 8.0 MB

In [10]:
wego[wego['ACTUAL_ARRIVAL_TIME'].isna()]

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
39,120230801,1,99457929,2023-08-01,22,2200,1040,345115,0,FROM DOWNTOWN,CLFF,9.0,2,36.192856,-86.828554,2023-08-01 10:25:00,NaT,NaT,NaN,NaN,NaN,NaN,0,0,0,0,NaN,0,362,NaN
40,120230801,1,99457930,2023-08-01,22,2200,1040,345116,0,TO DOWNTOWN,CLFF,9.0,1,36.192856,-86.828554,2023-08-01 10:35:00,NaT,NaT,NaN,50.0,NaN,NaN,0,0,0,0,0.0,0,363,NaN
53,120230801,1,99457943,2023-08-01,22,2200,2374,345120,0,FROM DOWNTOWN,CLFF,9.0,0,36.192856,-86.828554,2023-08-01 12:56:00,NaT,NaT,NaN,50.0,NaN,NaN,0,0,0,0,0.0,0,497,NaN
67,120230801,1,99457957,2023-08-01,22,2200,2374,345124,0,FROM DOWNTOWN,CLFF,9.0,0,36.192856,-86.828554,2023-08-01 15:27:00,NaT,NaT,NaN,50.0,NaN,NaN,0,0,0,0,0.0,0,632,NaN
135,120230801,1,99458027,2023-08-01,22,2201,1617,345215,0,TO DOWNTOWN,MCC5_10,1.0,2,36.167091,-86.781923,2023-08-01 06:40:00,NaT,NaT,NaN,NaN,NaN,NaN,0,0,0,1,NaN,0,115,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350248,120230930,2,100406533,2023-09-30,7,701,2531,353393,0,FROM DOWNTOWN,21BK,4.0,0,36.138881,-86.800622,2023-09-30 23:29:00,NaT,NaT,NaN,30.0,NaN,NaN,0,0,0,0,0.0,0,611,NaN
350294,120230930,2,100406581,2023-09-30,7,702,2312,353438,0,TO DOWNTOWN,MCC5_9,3.0,2,36.167091,-86.781923,2023-09-30 16:03:00,NaT,NaT,NaN,NaN,NaN,NaN,0,0,0,0,NaN,0,311,NaN
350312,120230930,2,100406599,2023-09-30,7,702,2312,353444,0,TO DOWNTOWN,MCC5_9,3.0,2,36.167091,-86.781923,2023-09-30 20:33:00,NaT,NaT,NaN,NaN,NaN,NaN,0,0,0,0,NaN,0,455,NaN
350318,120230930,2,100406605,2023-09-30,7,702,2312,353446,0,TO DOWNTOWN,MCC5_9,3.0,2,36.167091,-86.781923,2023-09-30 21:38:00,NaT,NaT,NaN,NaN,NaN,NaN,0,0,0,0,NaN,0,503,NaN
350320,120230930,2,100406607,2023-09-30,7,702,2312,353447,0,FROM DOWNTOWN,21BK,4.0,0,36.138881,-86.800622,2023-09-30 21:59:00,NaT,NaT,NaN,30.0,NaN,NaN,0,0,0,0,0.0,0,515,NaN

In [ ]:
wego[wego['SCHEDULED_TIME'].str.contains('1900')].info()

In [ ]:
wego['SCHEDULED_TIME'].iloc[119]